<html>
  <body>
<a href="{{url_for('CategoriesNew')}}" > <h3> Create a New Category </h3> </a>
{% for category in categories %}
  <p>
    {{category.name}}</br>
    {{category.c_id}} </br>
   
    <a href="{{url_for('ShowItems', category_id=category.c_id)}}">{{category.name}}</a></br>
    <a href="{{url_for('deleteCategory', category_id=category.c_id)}}">Delete Category</a></br>
    <a href="{{url_for('editCategory', category_id=category.c_id)}}">Edit Category</a>
  </p>
	
{% endfor %}

  </body>
</html>