<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
</head>

<body>
<div class = "ProjectName">
<p id = "Project">
Item Catalog 
</p>

<p><a id = "showLogin" href="{{url_for('gdisconnect')}}">Logout</a></p></br>
</div>

<div class = "ProjectDetails">
<a href="{{url_for('newCategory')}}" > <h3> Create a New Category </h3> </a>

{% for category in categories %}
  <p class = "names">
    {{category.name}}</br>
    {{category.c_id}} </br>
   
    <a href="{{url_for('ShowItems', category_id=category.c_id)}}">{{category.name}}</a></br>
    <a href="{{url_for('deleteCategory', category_id=category.c_id)}}">Delete Category</a></br>
    <a href="{{url_for('editCategory', category_id=category.c_id)}}">Edit Category</a>
  </p>
	
{% endfor %}
</div>
  </body>
</html>