<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
</head>

<body>
<div class = "ProjectName">
<p id = "Project">Item Catalog </p>
</div>
<p><a id = "showLogin" href="{{url_for('gdisconnect')}}">Logout</a></p></br>
<div class = "ProjectDetails">
<h1> Edit Item </h1>


<form action="{{ url_for('editItem',category_id = category_id, item_id =item_id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'></br>

	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description }}'></br>


<input type='submit' value='Edit'>


<a href = "{{url_for('ShowItems',category_id = category_id)}}"> Cancel </a>

</form>
</div>
</body>

</html>