<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
</head>
  <body>
<div class = "ProjectName">
<p id = "Project">Item Catalog </p>
</div>
<p><a id = "homePage" href = "{{url_for('ShowCategories')}}"> Home </a></p>
<p><a id = "showLogin" href="{{url_for('gdisconnect')}}">Logout</a></p></br>
<div class = "ProjectDetails">
<div class = "ItemName">Category: {{category.name}}</div>
<a href="{{url_for('newItem', category_id=category.c_id)}}"><h2>Add item</h2></a>
{% if items !=[] %}
     <h1>Items:</h1>
	{% for item in items %}
  	<p class = "names">
    	<span style = "font-weight:bold">Name:  </span>{{item.name}}</br>
	<span style = "font-weight:bold">Description:  </span>{{item.description}}</br>
        </p>
        <p>
	<a href="{{url_for('deleteItem', category_id=category.c_id, item_id=item.item_id)}}">Delete Item</a></br>
    	<a href="{{url_for('editItem', category_id=category.c_id, item_id=item.item_id)}}">Edit Item</a>
  	</p>	
	{% endfor %}
{% endif %}
</div>
  </body>
</html>
