<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
</head>

<body>
<div class = "ProjectName">
<p id = "Project">
Item Catalog 
</p>

<p><a id = "showLogin" href="{{url_for('showLogin')}}">Login</a></p></br>
</div>
<div class = "ProjectDetails">
{% for category in categories %}
  <p class = "names">
    {{category.name}}</br>
    {{category.c_id}} </br>
   
    <a href="{{url_for('ShowItems', category_id=category.c_id)}}">{{category.name}}</a></br>
  </p>
	
{% endfor %}
</div>
  </body>
</html>