<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyles.css') }}">
</head>
  <body>
<div class = "ProjectName">
<p id = "Project">Item Catalog </p>
</div>
<p><a id = "showLogin" href="{{url_for('showLogin')}}">Login</a></p></br>
<div class = "ProjectDetails">
{% if items !=[] %}
     <h1>Items:</h1>
	{% for item in items %}
  	<p class = "names">
    	{{item.name}}</br>
    	{{item.item_id}} </br>
	{{item.description}}</br>
  	</p>	
	{% endfor %}
{% endif %}
</div>
  </body>
</html>